<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
    <p>
    Splurty was built by <a target="_blank" href="http://github.com/DaltonSherwin">Dalton</a> A beginner web developer who is on a mission to develop his first ever web application.
  </p>

  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Dalton.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Dalton Sherwin</h2>
      <br />
      <p>
        Dalton Sherwin is a entry level web developer looking to expand his knowledge in front end and back end development.
      </p>
    </div>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
