@font-face {
    font-family: 'titilliumregular';
    src: font_url('titillium-regular-webfont.woff2') format('woff2'),
         font_ url('titillium-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}